<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SqlConnectionString" value="Server=192.168.2.111,1433\miwh;DataBase=ProclaimDataMIWH;User ID=kssql;Password=Kena654654654;" />
    <add key="AquariumUsername" value="k.sowinski@queensbeck.com" />
    <add key="AquariumPassword" value="Sb3T023&amp;" />
    <add key="AquariumLogonUrl" value="https://aqnet.aquarium-software.com/AquariumSDK/UserManagement.asmx" />
    <add key="AquariumLogonAction" value="https://www.aquarium-software.com/AquariumSDK/Logon" />
    <add key="AquariumRunReportUrl" value="https://aqnet.aquarium-software.com/AquariumSDK/ReportManagement.asmx" />
    <add key="AquariumRunReportAction" value="https://www.aquarium-software.com/AquariumSDK/RunReport" />
    <add key="IgnoreFilePath" value="ignore.txt" />
    <add key="ReportId1" value="URSC|38379|LastName|DOB|PostCode|Date of Loan|LeadID|CustomerID" />
    <add key="ReportId2" value="RPPI|38375|LastName|DOB|PostCode|Date of Credit|LeadID|CustomerID" />
  </appSettings>
</configuration>