<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--<add key="PdfFilesFolderPath" value="C:\IMRR" />
    <add key="SubmittedFilesFolederPath" value="C:\IMRR\Submitted" />
    <add key="UnknownCaseRefFilesPath" value="C:\IMRR\Unknown" />
    <add key="ExceptionFilesPath" value="C:\IMRR\Exceptions" />-->
	  <add key="PdfFilesFolderPath" value="\\CRVS1\Scans\ToBeChecked" />
	  <add key="SubmittedFilesFolederPath" value="\\CRVS1\Scans\ReadyForProclaim" />
	  <add key="UnknownCaseRefFilesPath" value="\\CRVS1\Scans\Unknown" />
	  <add key="ExceptionFilesPath" value="\\CRVS1\Scans\Exceptions" />
  </appSettings>
</configuration>