<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SqlConnectionString" value="Server=(local);DataBase=LeadsImporterDB;Integrated Security=true;" />
    <add key="TempCachePath" value="Temp\" />
    <add key="PoolingTimeInSec" value="15" />
    <add key="ReportsSettingsFilePath" value="ReportsSettings.txt" />
    <add key="AquariumUsername" value="k.sowinski@queensbeck.com" />
    <add key="AquariumPassword" value="Sb3T023&amp;" />
    <add key="ValidationFilesPath" value="Validations\" />
  </appSettings>
</configuration>