<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SqlConnectionString" value="\\CRVS1\Scans\" />
    <add key="TempCachePath" value="\\CRVS1\Scans\Processed" />
    <add key="PoolingTimeInSec" value="\\CRVS1\Scans\ToBeChecked" />
    <add key="LogFilePath" value="\\CRVS1\Scans\ToBeChecked" />
    <add key="ReportsSettingsFilePath" value="\\CRVS1\Scans\ReadyForProclaim" />
    <add key="AquariumUsername" value="k.sowinski@queensbeck.com" />
    <add key="AquariumPassword" value="Sb3T023&amp;" />
  </appSettings>
</configuration>