<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IncomingFolderPath" value="\\CRVS1\Scans\" />
    <add key="ProcessedFolderPath" value="\\CRVS1\Scans\Processed" />
    <add key="ToBeCheckedPath" value="\\CRVS1\Scans\ToBeChecked" />
    <add key="ErrorFolderPath" value="\\CRVS1\Scans\ToBeChecked" />
    <add key="ProclaimProcessFolderPath" value="\\CRVS1\Scans\ReadyForProclaim" />
    <add key="TempFolderPath" value="\\CRVS1\Scans\Temp" />
    <add key="InboundFilesFilter" value="*.pdf" />
  </appSettings>
</configuration>