<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IncomingFolderPath" value="C:\IMRR" />
    <add key="ProcessedFolderPath" value="C:\IMRR\Processed" />
    <add key="ToBeCheckedPath" value="C:\IMRR\ToBeChecked" />
    <add key="ErrorFolderPath" value="C:\IMRR\Error" />
    <add key="ProclaimProcessFolderPath" value="C:\IMRR\ReadyForProclaim" />
    <add key="TempFolderPath" value="C:\IMRR\Temp" />
    <add key="InboundFilesFilter" value="*.pdf" />
  </appSettings>
</configuration>