<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SqlConnectionString" value="Server=KRISS-PC\SQLEXPRESS;DataBase=LeadsImporterDB;Integrated Security=true;" />    
    <!--<add key="SqlConnectionString" value="Server=(local);DataBase=LeadsImporterDB;Integrated Security=true;" />-->
    <!--<add key="SqlConnectionString" value="Server=192.168.2.111,1433\miwh;DataBase=LeadsImporterDB;User ID=kssql;Password=Kena654654654;" />-->
    <add key="PoolingTimeInSec" value="10" />
    <add key="AquariumUsername" value="k.sowinski@queensbeck.com" />
    <add key="AquariumPassword" value="Sb3T023&amp;" />
    <add key="AquariumLogonUrl" value="https://aqnet.aquarium-software.com/AquariumSDK/UserManagement.asmx" />
    <add key="AquariumLogonAction" value="https://www.aquarium-software.com/AquariumSDK/Logon" />
    <add key="AquariumRunReportUrl" value="https://aqnet.aquarium-software.com/AquariumSDK/ReportManagement.asmx" />
    <add key="AquariumRunReportAction" value="https://www.aquarium-software.com/AquariumSDK/RunReport" />
    <add key="SupressSqlUpdates" value="true" />
    <add key="DetailedLog" value="true" />
  </appSettings>
</configuration>